footer {
  color: white;
  background-color: black;
}

footer .une {
  height: 190px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  line-height: 30px;
  align-items: center;
}

.taille {
  height: 75px;
  text-align: center;
}

footer .deux {
  text-align: center;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: #D00106;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}