/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: 	#686868;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

/********************************** NAVBAR ***********************************/

img {
  max-height: 30em;
}



.card {
  background-color: black;
}

header {
  position: fixed ;
  z-index: 99;
  top: 0;
  width: 100%;
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
   "nt mn mn sb . . . "; 
  background-color: transparent;
  margin-bottom: 0px;  
}

#navbarSupportedContent a{
  text-decoration: none;
  color: whitesmoke;
}


#navbarSupportedContent a:hover{
  color:grey;
}

.jumbotron {
  padding: 0rem 0rem; 
   margin-bottom: 0rem; 
   background-color: var(--primary);
  border-radius: 0rem;
}


/*------------------------------
----pour le titre---------------
-------------------------------*/

#content .hoofd, #real .hoofd, #acteur .hoofd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    background-color: black;
    padding-bottom: 1%;
}

#content h1, #real h1, #acteur h1 {
  font-family: 'Poiret One', cursive;
  text-shadow: .06em .03em rgba(0, 0, 0, 0.404);
  font-size: 6em;
  font-weight: 600;
  word-spacing: 0.4em;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 0.8em;
}

#content h1, #real h1 {
  color: white;
}

#acteur h1{
  color: white;
}





/*------------------------------
----pour la partie texte------
-------------------------------*/

#content .text-center, #real .text-center, #acteur .text-center {
  padding: 20px 10%;
  width: 80%;
}



#real .text-center, #acteur .text-center {
  margin-left: 6%;
  margin-top: 20px;

}

/*------------------------------
----pour la partie récap------
-------------------------------*/

#content .row {
  margin-bottom: 20px;
}

/*----------------------------------
----pour la video bande annonce------
-----------------------------------*/

#content iframe {
  margin-top: 5%;
}

/*----------------------------------------
----pour la partie CI du réalisateur------
-----------------------------------------*/

#real .row, #acteur .row {
  margin-top: 20px;
}

#real .CI, #acteur .CI {
  margin-bottom: 20px;
}


/*------------------------------------
----pour la galerie des affiches------
-------------------------------------*/

#real .liens_films, #acteur .liens_films {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #494343;
    justify-content: space-around;
    height: 100%;
    margin-left: 10%;
    border-radius: 15px;
    padding-bottom: 20px;
}



#real .liens_films{
  border: 5px solid rgb(117, 117, 117);
}

#real .affiche, #acteur .affiche {
    width: 200px;
    height: 300px;
    margin: 40px;
    border-radius: 25px;
}

#real .affiche:hover, #acteur .affiche:hover {
  transform: scale(1.2);
    border: 5px solid #494343be;
    box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    transition: all 0.6s ease-in-out;
}

